@font-face {
    font-family: OpenSans;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
    font-weight: normal;
  }
  @font-face {
    font-family: OpenSans;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
    font-weight: bold;
  }
  * {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  input,
  button {
    border: none;
  }
  h1,
  h2,
  h3,
  h4 {
    text-transform: uppercase;
  }
  .page {
    min-width: 1660px;
    font-family: OpenSans;
    
  }
  .header {
    min-height: 425px;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
    background-size: cover;
    padding-left: 245px;
    padding-right: 240px;
    padding-top: 29px;
  
    position: relative;
  
    text-transform: uppercase;
    color: #ffffff;
  }
  .header:after {
    content: "";
  
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .header-nav {
    color: white;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 180px;
  }
  .header-logo{
    z-index: 1;
  }
  .header-menu {
    display: flex;
    justify-content: space-between;
    z-index: 1;
  
    font-size: 13px;
  }
  .menu-list:nth-child(n-1) {
    margin-right: 30px;
  }
  .menu-list:hover{
    text-decoration: underline;
  }
  .header-title {
    font-size: 45px;
    line-height: 1.6;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    width: 700px;
  
    position: relative;
    z-index: 1;
  }
  .content {
    display: flex;
    gap: 120px;
  
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .main {
    margin-left: 245px;
    display: flex;
    flex-direction: column;
    gap: 60px;
  
    width: 47%;
  }
  .main-article {
    display: flex;
    gap: 30px;
  }
  .main-article-img{
    width: 50%;
    max-height: 294px;
  }
  .wrp{
    width: 49%;
  }
  .main-post {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .main-time {
    margin-right: 10px;
  }
  .tags-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .main-tags {
    display: flex;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: bold;
  }
  .main-tags-item {
    margin-right: 20px;
    font-size: 14px;
  }
  .main-tags-item:hover{
    text-decoration: underline;
  }
  .main-title {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
  }
  .main-title:hover{
    color: #b59f5b;
  }
  .time-author {
    margin-bottom: 28px;
  }
  .author {
    font-weight: bold;
    font-size: 12px;
  }
  .paragraph {
    font-size: 15px;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 63px;
  
    width: 272px;
  }
  .button {
    cursor: pointer;
    background: #b59f5b;
    color: white;
  }
  .button:hover {
    background-color: #323232;
  }
  .posts {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .section-title {
    position: relative;
    margin-bottom: 15px;
    font-size: 14px;
    
    text-align: center;
  }
  .section-title:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%);
    height: 3px;
    width: 65px;
    background: #e1d9bd;
  }
  .post {
    display: flex;
    gap: 20px;
  }
  .post-description{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  time {
    font-size: 12px;
  }
  .post-title {
    font-size: 14px;
    text-align: left;
  }
  .post-title:hover{
    color: #b59f5b;
  }
  .form {
    position: relative;
    margin: 0 auto;
  }
  .search-form {
    width: 100%;
    outline: none;
    background: #f4f7f6;
    color: #9e9c9c;
  
    padding-left: 20px;
    min-height: 46px;
  }
  .search-form:focus{
   border: 1px solid #b59f5b;
  }
  .search-button {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 46px;
    aspect-ratio: 1 / 1;
  
    border: none;
  
    box-sizing: border-box;
    padding: 10px;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .newsletter {
    text-align: center;
    position: relative;
  }
  .newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
  }
  .email-form {
    min-height: 46px;
    background: #f4f7f6;
    padding-left: 10px;
    
    outline: none;
  }
  .email-form:focus{
    border: 1px solid #b59f5b;
  }
  .email-button {
    min-height: 46px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .section-tags {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  .tags-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 12px;
    margin-top: 30px;
  }
  .tags-item {
    border: 3px solid #ededed;
    padding: 0.5em 1em;
  }
  .tags-item:hover {
    border-color: #b59f5b;
  }
  .section-themes {
    font-weight: bold;
  }
  .themes-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .themes-list-item {
    border-bottom: 1px solid #ededed;
    padding-bottom: 18px;
    font-size: 14px;
  }
  .themes-list-item:hover {
    color: #b59f5b;
  }
  .list-item-number {
    color: #b59f5b;
  }
  .footer {
    width: 1200px;
    margin: auto;
    margin-bottom: 120px;
    text-align: center;
  }
  .social {
    display: flex;
    justify-content: center;
    gap: 27px;
  
    background: #f4f7f6;
    padding: 30px 530px;
    margin-bottom: 75px;
  }
  .social-icon {
    display: block;
    width: 20px;
    aspect-ratio: 1 / 1;
  }
  .social1 {
    background: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg);
  }
  .social2 {
    background: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg);
  }
  .social3 {
    background: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
  }
  .copyright {
    font-size: 12px;
    color: #999999;
  }
  
  
  
  